@keyframes rotate {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

@keyframes scaleAnim {
  from {
    transform: scale(0.5); }
  to {
    transform: scale(1); } }
